Source: libnlopt-cxx-dev
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>, Denis Barbier <barbier@debian.org>
Build-Depends: debhelper (>= 8), quilt, cmake, gfortran 
Standards-Version: 3.9.6
Homepage: http://trac.openturns.org/

Package: libnlopt-cxx-dev
Section: libs
Architecture: any
Depends: ${misc:Depends}, libnlopt-dev
Description: dummy libnlopt-cxx-dev
 Dummy package for libnlopt-cxx-dev
